/*CSS general de elementos*/
*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #2b2929;
    color: white;
    font: 200 14px "Poppins", sans-serif;
}
h2{
    font-size: 36px;
    line-height: 36px;
}
h3{
    color: #999;
    font-size: 18px;
    font-weight: 300;
}
p{
    text-align: justify;
}
cite{
    font-weight: 300;
}
a:any-link{
    color: white;
}
a:-webkit-any-link{
    color: white;
}
a:-moz-any-link{
    color: white;
}
li{
    float: left;
    width: 30px;
}
/*CSS ID y Clases*/
.icon{
    font-size: 24px;
    margin-right: 10px;
}
.icon:hover{
    color: black;
}
.hashtag{
    color: #ffc900;
}
.seccion{
    padding: 10px 100px 10px 100px;
    /*
    Lo de arriba es lo mismo que esto de aca abajo
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    */
}
#redessociales{
    margin-top: 20px;
    list-style: none;
}
#inicio{
    background-image: url("fondo\ nirvana\ web.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 280px;
}
#experiencia{
    background-color: white;
    color: #222;
}
#portafolio{
    border-top: 1px solid #ffc900;
}