/*CSS general de elementos*/
body{
    background-color: #000000;
    color: white;
}
h3{
    color: #999;
}
/*CSS ID y Clases*/
.hashtag{
    color: #ffc900;
}
#experiencia{
    background-color: white;
    color: #222;
}